.navBar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    position: fixed;
    z-index: 99999;
    background-color: #00000087;
}

.navItem {
    display: flex;
    list-style: none;
    /* justify-content: end; */
    cursor: pointer;

}

.navItem li {
    margin: 0 20px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}



@media (prefers-color-scheme: dark) {
    .Logo {
        filter: invert(1);
    }
}

nav ul .navList {
    color: #fff;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0 5px;
    padding-bottom: 0;
    position: relative;
    font-size: 20px;
    cursor: pointer;

}

.navList:after {
    background: none repeat scroll 0 0 transparent;

    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    /* // transition: width 0.3s ease 0s, opacity 0.3s ease 0s; */
    width: 0;
}

.navList:hover:after {
    width: 100%;
    left: 0;
}

.navList:hover {
    color: #ffff00;
}